<h1>
  Add a new rating
</h1>


<hr>

<form action="/create_rating" method="post">

  <div class="form-group">
    <label for="score">
      Score
    </label>

    <input type="text" id="score" name="score" class="form-control">
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="video_id">
      Video
    </label>

    <%= select_tag(:video_id, options_from_collection_for_select(Video.all, :id, :title, @rating.video_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create rating
  </button>
</form>

<hr>

<a href="/ratings">
  Go back
</a>
