<h1>
  Add a new rating
</h1>


<hr>

<!-- Form rating start -->
<form action="/create_rating" method="post">
<!-- Form rating end -->

  <!-- Label and input for score start -->
  <div class="form-group">
    <label for="score">
      Score
    </label>

    <!-- Input for score start -->
    <input type="text" id="score" name="score" class="form-control">
    <!-- Input for score end -->
  </div>
  <!-- Label and input for score end -->

  <!-- Label and input for user_id start -->
  <!-- Input for "user_id" start -->
  <input type="hidden" name="user_id" value="<%= current_user.id %>">
  <!-- Input for "user_id" end -->
  <!-- Label and input for user_id end -->

  <!-- Label and input for video_id start -->
  <div class="form-group">
    <label for="video_id">
      Video
    </label>

    <!-- Input for video_id start -->
    <%= select_tag(:video_id, options_from_collection_for_select(Video.all, :id, :title, @rating.video_id), :class => "form-control") %>
    <!-- Input for video_id end -->
  </div>
  <!-- Label and input for video_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create rating
  </button>
</form>

<hr>

<a href="/ratings">
  Go back
</a>
