<form action="/create_rating_from_video" method="post">

  <div class="form-group">
    <label for="score">
      Score
    </label>

    <input type="text" id="score" name="score" class="form-control" value="<%= @rating.score %>">
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <input type="hidden" name="video_id" value="<%= @video.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create rating
  </button>
</form>
