<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Ratings

    <a data-toggle="collapse" href="#video_ratings_new_form">
      Add rating
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @video.ratings.each do |rating| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/ratings/<%= rating.id %>">
          <%= rating.score %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_rating_from_video/<%= rating.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="video_ratings_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
