<h1>
  Add a new video
</h1>


<hr>

<form action="/create_video" method="post">

  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <textarea id="description" name="description" class="form-control" rows="3"></textarea>
  </div>

  <div class="form-group">
    <label for="length">
      Length
    </label>

    <input type="text" id="length" name="length" class="form-control">
  </div>

  <div class="form-group">
    <label for="difficulty">
      Difficulty
    </label>

    <input type="text" id="difficulty" name="difficulty" class="form-control">
  </div>

  <div class="form-group">
    <label for="points">
      Points
    </label>

    <input type="text" id="points" name="points" class="form-control">
  </div>

  <div class="form-group">
    <label for="instructor_id">
      Instructor
    </label>

    <%= select_tag(:instructor_id, options_from_collection_for_select(Instructor.all, :id, :name, @video.instructor_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="topic_id">
      Topic
    </label>

    <%= select_tag(:topic_id, options_from_collection_for_select(Topic.all, :id, :topic, @video.topic_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create video
  </button>
</form>

<hr>

<a href="/videos">
  Go back
</a>
