<% if @topic.errors.any? %>
  <% @topic.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit topic #<%= @topic.id %>
</h1>

<hr>

<form action="/update_topic/<%= @topic.id %>" method="post">

  <div class="form-group">
    <label for="topic">
      Topic
    </label>

    <input type="text" id="topic" name="topic" class="form-control" value="<%= @topic.topic %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update topic
  </button>
</form>

<hr>

<a href="/topics">
  Go back
</a>
